@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../shared/assets/font/HelveticaNeue/HelveticaNeueCyr-Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'surah_names';
  src: url('../../shared/assets/font/surah_name/sura_names.ttf')
    format('truetype');
}

// USAGE
body {
  font-family: var(--font-family-main);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; 
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);
  border-radius: 20px;
  border: 1px solid var(--accent-redesigned); /* padding вокруг плашки */
}

.app *::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.app *::-webkit-scrollbar-track {
  background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
