@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';

<<<<<<< HEAD
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../shared/assets/font/HelveticaNeue/HelveticaNeueCyr-Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'surah_names';
  src: url('../../shared/assets/font/surah_name/sura_names.ttf')
    format('truetype');
}

// USAGE
body {
  font-family: var(--font-family-main);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
=======
.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
>>>>>>> 7f8242471f42c7799e2cd0706f15ec49ff09cd72
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
<<<<<<< HEAD
  background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);
  border-radius: 20px;
=======
  background: var(--light-bg-redesigned); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
>>>>>>> 7f8242471f42c7799e2cd0706f15ec49ff09cd72
  border: 1px solid var(--accent-redesigned); /* padding вокруг плашки */
}

.app *::-webkit-scrollbar {
<<<<<<< HEAD
  width: 12px;
=======
  width: 12px; /* ширина scrollbar */
>>>>>>> 7f8242471f42c7799e2cd0706f15ec49ff09cd72
  height: 8px;
}

.app *::-webkit-scrollbar-track {
<<<<<<< HEAD
  background: var(--card-bg);
=======
  background: var(--card-bg); /* цвет дорожки */
>>>>>>> 7f8242471f42c7799e2cd0706f15ec49ff09cd72
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
