.SearchInput {
  border: 1px solid var(--input-bg-color);
  font-family: var(--font-family-main);
  background: var(--input-bg-color);
  font-size: var(--font-size-m);
  border-radius: 10px;
  padding: 11px 14px;
  outline: none;
  width: 100%;

  &::placeholder {
    color: var(--text-primary-color);
    opacity: 0.4;
  }

  &:focus {
    border: 1px solid var(--icon-hover-bg-color);
  }
}

// .searchSura {
//   width: 200px;
// }

// .searchOyat {
//   width: 100px;
// }
