.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--font-l);
  height: 100%;
  color: var(--color-text);
  margin: 5% auto;

  .NotFoundPageChild {
    width: 100%;
    max-width: 500px;
    font-size: 400px;
    display: block;
    color: var(--color-text);
  }
}
