.ReadingSidebar {
  padding: 20px;
  display: flex;
  gap: 20px;

  &__selectionSura {
    width: 215px;
    padding-right: 20px;
    border-right: 2px solid var(--input-bg-color);
  }

  &__selectionOyat {
    width: 80px;
  }
}
