.SuraList {
  margin: 20px 0;
  width: 200px;
  height: calc(100vh - 200px);
  overflow-y: scroll;

  &__item {
    display: flex;
    cursor: pointer;
    margin: 1px 0;
    padding: 10px 13px;
    border-radius: 5px;

    &:hover {
      background: var(--input-bg-color);
    }
  }

  p {
    font-family: var(--font-family-main);
    font-size: var(--font-size-m);
  }

  &__suraNumber {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40px;
  }

  &__suraName {
    font-weight: 400;
    margin-left: 10px;
  }

  .active {
    background: var(--input-bg-color);

    p {
      font-weight: 550;
    }
  }
}
