.app_dark_theme {
  --bg-color: #1f2125;
  --bg-widget: #343a3f;
  --color-text: #eaeaea;
  --color-placeholder: #666;
  --color-hover: #2ba4ab;
  --color-secondary: #777;
  --color-border-card: #464b4f;
  --inverted-bg-color: #fff;
  --primary-color: #fbfefb;
  --secondary-color: #f9fbf9;
  --reading-navbar-progress: #fff;
  --input-bg-color: #212529;
  --text-primary-color: #84878a;
  --icon-hover-bg-color: #464b4f;
  --btn-3d-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px,
    rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}
