.app_dark_theme {
  --bg-color: #1f2125;
  --bg-widget: #343a3f;
  --color-text: #eaeaea;
  --color-placeholder: #666;
  --color-hover: #2ba4ab;
  --color-secondary: #777;
  --color-border-card: #464b4f;
  --inverted-bg-color: #fff;
  --primary-color: #fbfefb;
  --secondary-color: #f9fbf9;
  --border-line: #91979c;
  --bg-header: #1f2125;
}
