.app_dark_theme {
  --bg-color: #343a40;
  // --bg-color: #fff;
  --bg-widget:#343A3F;
  --color-text:#eaeaea;
  --color-placeholder:#666
  --inverted-bg-color: #000;
  --color-hover:#2BA4AB;
  --color-secondary:#777;
  --color-border-card:##ebeef0;
  --inverted-bg-color: #fff;
  --primary-color: #fbfefb;
  --secondary-color: #f9fbf9;
}
