:root {
  --bg-color: #fff;
  --inverted-bg-color: #000;

  --icon-hover-bg-color: #e0e0e0;
  //   --input-bg-color: #f8f9fa;
  --input-bg-color: #f4f4f4;

  --text-primary-color: #272727;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #d5d5d7;
}
