<<<<<<< HEAD
.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
=======
.Icon {
    fill: var(--primary-color);
    color: var(--primary-color);
}

.inverted {
    fill: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
>>>>>>> 7f8242471f42c7799e2cd0706f15ec49ff09cd72
}
