.wrapper {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #27272731 0.1px solid;
  border-left: #27272731 0.1px solid;
  border-top: #27272731 0.1px solid;
  padding: 6px 12px;
  gap: 16px;

  transition: all 0.2s linear;
  &:hover {
    color: #74a2b2;
  }
}

.li {
  text-align: left;
  font-family: Proxima Vara;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #272727;
}

.icon {
  color: black;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}


