.oneItemSura{
  width: 408px;
  height: 74px;
  display: flex;
  border: #ebeef0 1px solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:5px ;
  transition: all 0.3s linear;
 
  &:hover{
    border: #258c91 1px solid;
    p{
      color: #258c91;
    }
  }

}


.numberOfOyat{
  font-family:'Helvetica Neue';
  color:#666;
}

.hovered{
  transition: all 0.5s linear;
  background-color: #258c91;
  color: white;
}

.text{
  font-size: 24px;
  color: black !important;
}
