.searchTitle {
  color: #272727;
  text-align: left;
  font-family: Proxima Vara;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 28px 12px 10px 12px;
}
