.QuranWord {
  width: 100%;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  &__text {
  }
}

.QuranWordP1 {
  width: 100%;
  display: flex;
  justify-content: center;
  direction: rtl;
}
